* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 12px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

#textField:focus {
  outline: none;
  border: none;
}
